body {
    margin: 0px;
}

.d-none {
    display: none !important;
}

.navbar {
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}

.icon {
    height: 40px;
    width: 40px;
}

.icon:hover {
    cursor: pointer;
}

.title {
    text-align: center;
}

#person-card {
    margin: 5px;
    border: 5px solid lightgray;
    padding: 10px;
    background-color: lightgray;
    display: inline-block;
}

#person-card:hover {
    border: 5px solid gray;
}

#newUser {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 80px;;
}

