body {
    margin: 0px;
}

header {
    background-color: lightgrey;
    display: block;
    text-transform: capitalize;
}

.title {
    text-align: center;
}

#person-card {
    margin: 5px;
    border: 5px solid lightgray;
    padding: 10px;
    background-color: lightgray;
    display: inline-block;
}

#person-card:hover {
    border: 5px solid gray;
}